{
    "overrides": [
        {
          "files": "*.md",
          "options": {
              "tabWidth": 4,
              "printWidth": 80,
              "proseWrap": "always",
              "htmlWhitespaceSensitivity": "strict"
          }
      }
    ]
}